:root{
    --maincolor: blue; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
}

.header a {
    font-size: 1.7rem;
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: var(--maincolor);
}

.header .navbar a:hover{
    color: black;
}

.header .icons{
    font-size: 2rem;
}

.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}

.header .icons div:hover{
    color: var(--maincolor); 
}

.header .icons div #menu-bars{
    display: none;
}

.header .search-box{
    position: absolute;
    top: 110%;
    right: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .search-box input{
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.header .search-box.active{
    right: 2rem;
}

.header .navbar.active {
    left: 0;
}

.About-Tab {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: aqua;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
}

.tab button:hover {
    background-color: beige;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    color: rgb(5, 5, 5);
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}











































@media (max-width: 768px) {
    html{
        font-size: 50%;

    }

    .header .icons #menu-bars{
        display: inline-block;
    }
    .header{
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 100%;
        right: 0;
        background: var(--maincolor);

    }
    .header .navbar a{
        display: block;
        margin: 1rem;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
    }
}